---
// Import icons
import Location from "../icons/Location.astro";
import Certificate from "../icons/Certificate.astro";
import Arrow from "../icons/Arrow.astro";
import Calendar from "../icons/Calendar.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = "es";
const t = useTranslations(lang);

const EDUCATION = [
  {
    type: t('education.type1'),
    area: t('education.area1'),
    time: t('education.time1'),
    school: "Tecnológico Superior de Jalisco",
    description: t('education.description1'),
    icon: Location,
  },
  {
    type: t('education.type2'),
    area: "",
    time: "2024",
    school: "DevTalles",
    description: t('education.description2'),
    icon: Certificate,
  },
];
---

<div class="flex flex-col gap-y-10">
  {
    EDUCATION.map((education) => (
      <section class="flex flex-col gap-y-3 ">
        <h1 class="font-semibold text-xl">
          <span>{education.type}</span>
          <span class="text-lavanda">
            {education.area} {education.school}
          </span>
        </h1>
        <div class="flex items-center gap-x-2 text-white/30 font-medium">
          <Calendar class="size-4" />
          {education.time}
        </div>
        <span class="text-white/60 flex flex-row items-center">
          {education.description}
        </span>
      </section>
    ))
  }
</div>
