---
// icons
import Expand from "../icons/Expand.astro";
import GitHub from "../icons/GitHub.astro";

import NotColoredButton from "../components/Buttons/NotColoredButton.astro";
import ColoredButton from "./Buttons/ColoredButton.astro";

const { t } = Astro.props;

const PROJECTS = [
  {
    title: "Spotify-Clon",
    description: t.projects[0].description,
    image: "./Projects/spotifyClon.jpg",
    tags: ["React", "TypeScript", "Zustand", "TailwindCSS"],
    repositore: "https://github.com/Keikooh/Spotify-clon",
    preview: "",
  },
];
---

<div class="flex justify-between flex-wrap">
  {
    PROJECTS.map(({ title, description, image, tags, repositore, preview}) => (
      <div class="flex flex-col border-2 border-white/5 bg-white/5 rounded-xl lg:w-[48%] mb-7">
        <img
          src={image}
          alt=""
          class="rounded-t-xl"
        />

        <section class="flex flex-wrap p-5 h-full content-between">
          <div class="flex flex-col justify-between items-center gap-y-4">
            <h3 class="text-xl font-semibold">{title}</h3>
            <div class="flex flex-wrap justify-center items-center gap-2">
              {tags.map((tag) => (
                <span class=" text-xs text-white/60 rounded-2xl py-1 px-2 bg-white/10">
                  {tag}
                </span>
              ))}
            </div>
            <p class="text-sm text-white/60 text-center">{description}</p>
          </div>
          <div class=" flex flex-row justify-between w-full mt-7">
            <ColoredButton
              class="w-[45%]"
              link={repositore}
            >
              <span class="text-md">{t.buttons.code}</span>
              <GitHub class="size-4" />
            </ColoredButton>
            <NotColoredButton 
              class="w-[45%]"
              link={preview}
              disabled={true}
            >
              <span class="text-md">{t.buttons.preview}</span>
              <Expand class="size-4" />
            </NotColoredButton>
          </div>
        </section>
      </div>
    ))
  }
</div>
